.label {
  margin-bottom: 0.8rem;
  font-weight: 600;
}
.input-group {
  margin: 0 2% 2rem 2%;
}
.label-range {
  margin-bottom: 2.5rem;
  font-weight: 600;
  padding-bottom: 1.5rem ;
}
.filter{
  display: flex;
  flex-direction: row;
  justify-content:center;
  max-width:100%;
  align-items: center;
}